<head th:fragment="head-front">
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />

  <title>쇼핑몰</title>

  <link rel="canonical" href="https://getbootstrap.com/docs/4.6/examples/starter-template/" />

  <!-- Bootstrap core CSS -->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css" />
  <!-- Custom styles for this template -->
  <link rel="stylesheet" th:href="@{/css/style.css}" />
</head>

<head th:fragment="head-admin">
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />

  <title>관리자페이지</title>

  <link rel="canonical" href="https://getbootstrap.com/docs/4.6/examples/starter-template/" />

  <!-- Bootstrap core CSS -->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css" />
  <!-- Custom styles for this template -->
  <link rel="stylesheet" th:href="@{/css/style.css}" />
</head>
