<!DOCTYPE html>
<html lang="en">
  <head th:replace="layouts::헤드"> </head>
  <body>
    <nav th:replace="layouts:: 네브바"></nav>
    <div class="container">
      <h1>직원 현황</h1>
      <a class="btn btn-outline-success my-2" th:href="@{/employees/new}">추가</a>
      <table class="table table-hover">
        <thead class="table-dark">
          <tr class="fw-bold">
            <th>성</th>
            <th>이름</th>
            <th>이메일</th>
            <th>Action</th>
          </tr>
        </thead>
        <tbody>
          <tr th:each="employee : ${employeeList}">
            <td th:text="${employee.lastName}"></td>
            <td th:text="${employee.firstName}"></td>
            <td th:text="${employee.email}"></td>
            <td>
              <!-- thymeleaf를 사용 할 때 (id=값) = ?id=값 -->
              <a th:href="@{/employees/update(id=${employee.employeeId})}" class="btn btn-outline-info btn-sm">수정</a>
              <a th:href="@{/employees/delete(id=${employee.employeeId})}" class="btn btn-outline-danger btn-sm" onclick="if((!confirm('정말로 삭제할까요?'))) return false">삭제</a>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <footer th:replace="layouts::푸터"></footer>
  </body>
</html>
