<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>인덱스</title>
  </head>
  <body>
    <h1>인덱스 페이지</h1>
    <form action="/create" method="post" th:object="${user}">
      <!-- 컨트롤러와 view가 데이터를 주고 받을 때 사용,Mapping해서 사용함-->
      <!-- th:field 변수이름 = 입력한 데이터-->
      <!-- *은 객체를 말함 *{name} = ${user.name}-->
      <p>이름: <input type="text" th:field="*{name}" /></p>
      <p>나이: <input type="text" th:field="*{age}" /></p>
      <p>재직중: <input type="checkbox" th:field="*{employed}" th:value="true" /></p>
      <p>성별 :</p>
      <p>
        남성 : <input type="radio" th:field="*{gender}" th:value="남성" /> 여성 :
        <input type="radio" th:field="*{gender}" th:value="여성" />
      </p>
      <p>
        <input type="submit" value="Submit" />
        <input type="reset" value="Reset" />
      </p>
    </form>
  </body>
</html>
