<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
  <head th:replace="layouts::헤드"> </head>
  <body>
    <nav th:replace="layouts:: 네브바"></nav>
    <div class="container">
      <form th:action="@{/projects/save}" method="post" th:object="${project}">
        <div class="row my-2">
          <input class="form-control" type="text" placeholder="프로젝트 이름" th:field="*{name}" />
        </div>
        <div class="row my-2">
          <select class="form-select" th:field="*{stage}">
            <option th:value="시작전">시작전</option>
            <option th:value="진행중">진행중</option>
            <option th:value="완료">완료</option>
          </select>
        </div>
        <div class="row my-2">
          <textarea class="form-control" placeholder="프로젝트 설명" th:field="*{description}"></textarea>
        </div>
        <!-- 직원 선택 태그 추가-->
        <div class="row my-2">
          <p>담당직원 선택</p>
          <!-- 선택태그의 매핑은 employees -->
          <select class="form-select" th:field="*{employees}" multiple>
            <!-- 직원 전체를 옵션으로 출력(projectcontroller에서 new 페이지로 이동 시에 empList를 보냈음)-->
            <option th:each="employee : ${empList}" th:value="${employee.employeeId}" th:text="${employee.firstName}"></option>
          </select>
        </div>
        <button class="btn btn-secondary" type="submit">새 프로젝트</button>
      </form>
    </div>
    <footer th:replace="layouts::푸터"></footer>
  </body>
</html>
